{% extends "admin/base.html.twig" %} 

{% block assets_path %}../../{% endblock %} 
{% block surveys_active %}{% endblock %} 
{% block users_active %}kt-menu__item--active{% endblock %} 
{% block subheader_title %}Manage Users{% endblock %}
{% block page_scripts %}
 <!--begin::Page Vendors(used by this page) -->
<script src="./assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
<!--end::Page Vendors -->

<!--begin::Page Scripts(used by this page) -->
<script src="./assets/js/demo7/pages/crud/datatables/data-sources/html.js" type="text/javascript"></script>
<!--end::Page Scripts -->
{% endblock %}
{% block page_styles %}<link href="./assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />{% endblock %}
 

{% block content %}


 <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                      

                        <div class="kt-portlet kt-portlet--mobile">

                            <div class="kt-portlet__head kt-portlet__head--lg">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="kt-font-brand flaticon2-line-chart"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Managers
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-wrapper">
                                        <div class="kt-portlet__head-actions">
                                            <a href="{{ path('admin_create_user') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-plus"></i> Add New Manager
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        

                            <div class="kt-portlet__body">
                                <!--begin: Datatable -->
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                    <thead>
                                        <tr>
                                            <th>Record ID</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                       <tbody>
                                        {% for user in managers %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.fullname }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded">User</span>
                                                 {% for role in user.roles %}
                                                    {% if role == 'ROLE_ADMIN' %}
                                                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">Admin</span>
                                                    {% endif %} 
                                                {% endfor %}
                                            </td>
                                            <td>
                                            {# "{{ path('admin_edit_user', user.id) }}"   #}
                                                  
                                                <a href="{{ path('admin_edit_user', {id: user.id}) }}" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit details">
                                                    <i class="la la-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                          
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!--end: Datatable -->
                                <!--begin: Navigation -->
                                <div class="navigation">
                                  {{ knp_pagination_render(managers) }}  
                                </div>
                                <!--end: Navigation -->
                            </div>                    
                        </div>

                            <div class="kt-portlet kt-portlet--mobile">

                                <div class="kt-portlet__head kt-portlet__head--lg">
                                    <div class="kt-portlet__head-label">
                                        <span class="kt-portlet__head-icon">
                                            <i class="kt-font-brand flaticon2-line-chart"></i>
                                        </span>
                                        <h3 class="kt-portlet__head-title">
                                        Employees
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="kt-portlet__head-actions">
                                                <a href="{{ path('admin_create_user') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-plus"></i> Add New Employee
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__body">
                                    <!--begin: Datatable -->
                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                        <thead>
                                            <tr>
                                                <th>Record ID</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Roles</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in employees %}
                                            <tr>
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.fullname }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>
                                                    <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded">User</span>
                                                    {% for role in user.roles %}
                                                        {% if role == 'ROLE_ADMIN' %}
                                                            <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--rounded">Admin</span>
                                                        {% endif %} 
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_edit_user', {id: user.id}) }}" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit details">
                                                        <i class="la la-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!--end: Datatable -->
                                    <!--begin: Navigation -->
                                    <div class="navigation">
                                    {{ knp_pagination_render(employees) }}  
                                    </div>
                                    <!--end: Navigation -->
                                </div>                   
                        </div>











                    </div>
                    <!-- end:: Content -->
                </div>


{% endblock %}